go 1.22.0

use (
	.
	./ant
	./basic/net/websocket
	./basic/slog/example
	./carbon
	./casbin
	./cast
	./cgo
	./cobra
	./distributed/lock
	./email
	./excelize
	./fsnotify
	./fyne
	./fyne/fyne-ict
	./gin
	./go-alertmanager
	./go-amqp
	./go-ansible
	./go-ant
	./go-argo
	./go-captcha
	./go-deepcopy
	./go-error
	./go-flag
	./go-ini
	./go-jwt
	./go-minio
	./go-mysql
	./go-prometheus
	./go-queue
	./go-quic
	./go-redis
	./go-retry
	./go-serial
	./go-sh
	./go-snowflake
	./go-test
	./godotenv
	./gorm-example
	./gron
	./k8s
	./logrus
	./rpc/protobuf
	./stu/go-linux-namespace
	./tools/docker
	./tools/kubeadm-token
	./tools/kubeedge-token
	./tools/osrelease
	./viper
	./go-validator
	gocron
)
